# Concatenation

In [2]:
import numpy as np
import pandas as pd

In [5]:
data = pd.read_csv('eng.1.csv')

In [6]:
df = data.sample()

In [7]:
df

    Round             Date               Team 1   FT           Team 2
79      9  Fri Oct 16 1998  Newcastle United FC  2-1  Derby County FC

In [8]:
df2 = data.sample()

In [9]:
df2

     Round             Date            Team 1   FT              Team 2
159     17  Fri Dec 11 1998  Middlesbrough FC  1-0  West Ham United FC

In [10]:
df

    Round             Date               Team 1   FT           Team 2
79      9  Fri Oct 16 1998  Newcastle United FC  2-1  Derby County FC

In [15]:
pd.concat([df,df2,df3])

     Round             Date               Team 1   FT              Team 2
79       9  Fri Oct 16 1998  Newcastle United FC  2-1     Derby County FC
159     17  Fri Dec 11 1998     Middlesbrough FC  1-0  West Ham United FC
353     36  Fri Apr 30 1999   West Ham United FC  1-5     Leeds United FC

In [13]:
df3 = data.sample()

In [14]:
df3

     Round             Date              Team 1   FT           Team 2
353     36  Fri Apr 30 1999  West Ham United FC  1-5  Leeds United FC