# Data Input and Output

In [1]:
import pandas as pd

In [3]:
pd.read_csv('epl201920.csv')

     Round             Date               Team 1   FT                Team 2
0        1   Fri Aug 9 2019         Liverpool FC  4-1       Norwich City FC
1        1  Sat Aug 10 2019   West Ham United FC  0-5    Manchester City FC
2        1  Sat Aug 10 2019           Burnley FC  3-0        Southampton FC
3        1  Sat Aug 10 2019      AFC Bournemouth  1-1   Sheffield United FC
4        1  Sat Aug 10 2019    Crystal Palace FC  0-0            Everton FC
..     ...              ...                  ...  ...                   ...
375     38  Sun Jul 26 2020    Leicester City FC  0-2  Manchester United FC
376     38  Sun Jul 26 2020   Manchester City FC  5-0       Norwich City FC
377     38  Sun Jul 26 2020  Newcastle United FC  1-3          Liverpool FC
378     38  Sun Jul 26 2020       Southampton FC  3-1   Sheffield United FC
379     38  Sun Jul 26 2020   West Ham United FC  1-1        Aston Villa FC

[380 rows x 5 columns]

pd.read_ , press tab to see the options

In [4]:
df = pd.read_csv('epl201920.csv')

In [5]:
df

     Round             Date               Team 1   FT                Team 2
0        1   Fri Aug 9 2019         Liverpool FC  4-1       Norwich City FC
1        1  Sat Aug 10 2019   West Ham United FC  0-5    Manchester City FC
2        1  Sat Aug 10 2019           Burnley FC  3-0        Southampton FC
3        1  Sat Aug 10 2019      AFC Bournemouth  1-1   Sheffield United FC
4        1  Sat Aug 10 2019    Crystal Palace FC  0-0            Everton FC
..     ...              ...                  ...  ...                   ...
375     38  Sun Jul 26 2020    Leicester City FC  0-2  Manchester United FC
376     38  Sun Jul 26 2020   Manchester City FC  5-0       Norwich City FC
377     38  Sun Jul 26 2020  Newcastle United FC  1-3          Liverpool FC
378     38  Sun Jul 26 2020       Southampton FC  3-1   Sheffield United FC
379     38  Sun Jul 26 2020   West Ham United FC  1-1        Aston Villa FC

[380 rows x 5 columns]

In [9]:
df.to_csv('output',index=False)

In [10]:
pd.read_csv('output')

     Round             Date               Team 1   FT                Team 2
0        1   Fri Aug 9 2019         Liverpool FC  4-1       Norwich City FC
1        1  Sat Aug 10 2019   West Ham United FC  0-5    Manchester City FC
2        1  Sat Aug 10 2019           Burnley FC  3-0        Southampton FC
3        1  Sat Aug 10 2019      AFC Bournemouth  1-1   Sheffield United FC
4        1  Sat Aug 10 2019    Crystal Palace FC  0-0            Everton FC
..     ...              ...                  ...  ...                   ...
375     38  Sun Jul 26 2020    Leicester City FC  0-2  Manchester United FC
376     38  Sun Jul 26 2020   Manchester City FC  5-0       Norwich City FC
377     38  Sun Jul 26 2020  Newcastle United FC  1-3          Liverpool FC
378     38  Sun Jul 26 2020       Southampton FC  3-1   Sheffield United FC
379     38  Sun Jul 26 2020   West Ham United FC  1-1        Aston Villa FC

[380 rows x 5 columns]

Exports and saves a copy named 'output' to the folder

In [15]:
data = pd.read_html('https://www.premierleague.com/tables')

In [16]:
data[0].head()

,Position Pos,Club,Played Pl,Won W,Drawn D,Lost L,GF,GA,GD,Points Pts,Form,Next,Unnamed: 12
0,1 Previous Position 1,Arsenal ARS,10,9,0,1,24,10,+14,27,L Sunday 4 September 2022 MUN 3 -1 ARS W ...,Southampton Sunday 23 October 2022 SOU 14:0...,NaN
1,Arsenal Recent Result - Sunday 16 October 202...,Arsenal Recent Result - Sunday 16 October 202...,Arsenal Recent Result - Sunday 16 October 202...,Arsenal Recent Result - Sunday 16 October 202...,Arsenal Recent Result - Sunday 16 October 202...,Arsenal Recent Result - Sunday 16 October 202...,Arsenal Recent Result - Sunday 16 October 202...,Arsenal Recent Result - Sunday 16 October 202...,Arsenal Recent Result - Sunday 16 October 202...,Arsenal Recent Result - Sunday 16 October 202...,Arsenal Recent Result - Sunday 16 October 202...,Arsenal Recent Result - Sunday 16 October 202...,Arsenal Recent Result - Sunday 16 October 202...
2,2 Previous Position 2,Manchester City MCI,10,7,2,1,33,10,+23,23,D Saturday 3 September 2022 AVL 1 -1 MCI ...,Brighton and Hove Albion Saturday 22 October ...,NaN
3,Manchester City Recent Result - Sunday 16 Oct...,Manchester City Recent Result - Sunday 16 Oct...,Manchester City Recent Result - Sunday 16 Oct...,Manchester City Recent Result - Sunday 16 Oct...,Manchester City Recent Result - Sunday 16 Oct...,Manchester City Recent Result - Sunday 16 Oct...,Manchester City Recent Result - Sunday 16 Oct...,Manchester City Recent Result - Sunday 16 Oct...,Manchester City Recent Result - Sunday 16 Oct...,Manchester City Recent Result - Sunday 16 Oct...,Manchester City Recent Result - Sunday 16 Oct...,Manchester City Recent Result - Sunday 16 Oct...,Manchester City Recent Result - Sunday 16 Oct...
4,3 Previous Position 3,Tottenham Hotspur TOT,10,7,2,1,22,10,+12,23,W Saturday 3 September 2022 TOT 2 -1 FUL ...,Manchester United Wednesday 19 October 2022 ...,NaN

In [18]:
type(data)

list